.main-container{
    .style-card{

        text-align: center;
        overflow: hidden;
        margin-bottom: 8px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        border: none;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0/20%);
        .shareText{
            display: flex;
            flex-direction: column;
            color: #958b7b;
            margin: 0 0 8px;
            background: white;
            div{
                .user-icon{
                    margin-right: 6px;
                    height: 50px;
                }
                button{
                outline: none;
                color: rgba(0,0,0,0.6);
                font-size: 14px;
                line-height: 1.5;
                min-height: 48px;
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                font-weight: 600;
                }

                &:first-child{
                    display: flex;
                    align-items: center;
                    padding: 8px 16px 0px 16px;

                    .share-icons{
                        width: 20px;
                        border-radius: 50%;
                        margin-right: 8px;
                        border: 1px solid #000;
                    }
                    button{
                        margin: 4px 0;
                        flex-grow: 1;
                        border-radius: 35px;
                        padding-left: 16px;
                        border: 1px solid rgba(0,0,0,0.15);
                        background-color: white;
                        text-align: left;
                    }
                }

                &:nth-child(2){
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding-bottom: 4px;

                    button{
                        div{
                            margin: 0 4px 0 -2px ;
                        }
                        span{
                            color: #7b87bb;
                        }
                    }
                }
            
            }
    }
     
    }

    .article{
        @extend .style-card;
        padding: 0;

        .sharedActor{
            padding-right: 40px ;
            flex-wrap: nowrap;
            padding: 12px 16px 0;
            margin-bottom: 8px;
            align-items: center;
            display: flex;
            a{
                margin-right: 12px;
                flex-grow: 1;
                overflow: hidden;
                display: flex;
                text-decoration: none;
                div{
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: 0;
                    margin-left: 8px;
                    overflow: hidden;

                    span{
                        text-align: left;
                        &:first-child{
                            font-size: 14px;
                            font-weight: 700;
                            color: rgba(0,0,0,1);
                        }
                        &:nth-child(n+1){
                            font-size: 12px;
                            color: rgba(0,0,0,0.6)
                        }
                    }
                }
            }

            button{
                position: absolute;
                right: 12px;
                top: 0;
                background: transparent;
                border: none;
                outline: none;
                
                .moreInfo{
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}