.leftSide {
  width: 320px;
  .card {
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 83px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 1px rgba(0 0 0 /15%), 0 0 0 rgb(0 0 0 / 20%);

    .userInfo {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 12px 12px 16px;
      word-wrap: break-word;
      word-break: break-word;

      .cardBackground {
        height: 54px;
        width: 400px;
        margin: -12px -12px 0;
      }

      .photo {
        box-shadow: none;
        padding: 15px;
        width: 70px;
        color: #7b87bb;
        height: 70px;
        box-sizing: border-box;
        border: 1px solid white;
        margin: -38px auto 12px;
        border-radius: 50%;
        background-color: white;
      }

      .link {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 600;
      }

      .addPhotoText {
        color: #7b87bb;
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.33;
        font-weight: 400;
      }
    }
    .widget {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding-top: 12px;
      padding-bottom: 12px;

      a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 12px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
        }

        div {
          display: flex;
          flex-direction: column;
          text-align: left;

          span {
            font-size: 15px;
            line-height: 1.333;

            &:first-child {
              color: rgba(0, 0, 0, 0.6);
            }
            &:nth-child(2) {
              color: rgba(0, 0, 0, 1);
              font-weight: bold;
              color: #7b87bb;
            }
          }
        }
      }
    }
    .item {
      border-color: rgba(0, 0, 0, 0.8);
      text-align: left;
      padding: 12px;
      font-size: 15px;
      display: block;
      span {
        display: flex;
        align-items: center;
        color: #7b87bb;

        p {
          padding-left: 4px;
          font-weight: 600;
          color: #7b87bb;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .communityCard {
    @extend .card;
    padding: 8px 0 0;
    text-align: left;
    display: flex;
    flex-direction: column;

    a {
      color: #000;
      padding: 4px 12px 4px 12px;
      font-size: 12px;

      &:hover {
        color: #0a66c2;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
      }
      &:nth-child(2) {
        display: flex;
        justify-content: space-between;
      }
      &:last-child {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
        border-top: 1px solid #d6cec2;
        padding: 12px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
